.footer {
    background: #000000;
}

.footer-container {
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid ;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.footer-container-title {
    text-align: center;
}

.footer-container h1 {
    color: #cccccc;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footer-container div {
    color: #bc2649;
    font-size: 3rem;
}
.footer-container span {
    color: #bc2649;
    font-size: 1.5rem;
}
.footer-container a {
    text-decoration: none;
}


.footer-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    color: #cccccc;
}
.footer-texto {
    font-size: 1.3rem;
    line-height: 1.33;
    color: #cccccc;
}

.footer-contato li {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.1;
    color: #ffffff;
    margin-bottom: 30px;
}

.footer-contato li a {
    color: #ffffff;
}

.footer-copy {
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #f8f8f8;
}
.footer-contato a {
    text-decoration: none;
}
.confirma {
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    margin-top: -40px;
    background: #bc2649;
    border-radius: 6px;
    text-align: center;
    margin-left: 10px;
    padding: 10px 25px;
}

@media (max-width: 800px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .footer-contato li {
        font-size: 1.5rem;
    }
    .footer-texto {
        font-size: 1.2rem;
        line-height: 1.5;
        max-width: 600px;
        text-align: center;
        font-weight: 400;
        margin: 0 auto;
    }
}