.titulo h2 {
font-size: 2rem;
display: flex;
justify-content: center;
padding: 70px;
}
.titulo h3 {
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    margin-top: -80px;
    margin-bottom: 70px;
    }
    .presente {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        padding: 0px 20px;
    }
    @media (max-width: 800px) {
        .presente {
          grid-template-columns: 1fr ;
        }
      }
    .subtitulo-lista {
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        padding-left: 10px;
        margin-top: 10px;
      }
      
      .lista-presente {
        background: #bc2649;
        border-radius: 5px;
        overflow: hidden;
      }
      
      .listas-presente,
      p {
        color: #9a9a9a;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-left: 10px;
        margin-top: 5px;
      }
      .botao-lista {
        display: inline-block;
        padding: 5px 10px;
        background-color: #000;
        border-radius: 25px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: white;
        margin: 14px;
        margin-bottom: 20px;
      }
      .botao-lista,a {
        text-decoration: none;
      }
      .botao-lista:hover {
        background: #000;
      }
     
      
      